.imgProductoDetail1 {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
}

.imgProductoDetailMini {
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
    object-fit: contain;
}

.sectionItemDetail {
    margin-top: 2em;
}

.itemDetailBrand{
    color:#5c75da;
    text-align: center;
}

.itemDetailTittle {
    text-align: center;
}

.itemDetailPrice{
    color:#5c75da;
    text-align: center;

}