.countItem p {
    font-size: 18px;
    justify-content: center;
}

.card-item {
    display: inline;
    margin-top: 5px;
    /* border-bottom: 1px solid #ccc; */
    justify-content: center;
}
.card-item  h3{
    margin-top: -15px;
}
.card-item  h6{
    margin-top: -15px;
    text-align: center;
}

.card-item-container {
    margin-left: 3em;
    margin-right: 1em;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
}
.show-product-button {
    margin-top : -15px
}
.add-product-button {
    margin-top : -15px
}


/* .cardContainer > .MuiCardContent-root {
    padding-bottom: 15px !important;
}
 */
 
.button-count {
    display: flex;
}

.button-cart {
    margin-top: -15px;
}

.card-item-img  img{
    height: 224px; 
    width: 224;
    max-width: 224px;
}

.card-item-container > .MuiCardContent-root {
    padding-bottom: 15px !important;
}
/* .cardDiv {
    padding-top: 1em;
} */

