.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.general-container {
  width: 1300px;
  margin: 0 auto;
}

.container-item-list-cart{
  margin-top: 1em;
}

.table-body-container {
  border: 1px solid #ccc;
}

.cart-footer {
  text-align: right;
  margin-right: 3em;
  font-size: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

 .cart-footer-button {
  background-color: black;
  color: white;
  border-radius: 1em;
  font-family: 'system-ui';
  font-size: 14px;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 2em;

} 


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
