.card-item-container-category {
    display: flex;
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 150px;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}